#container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#secret-holder {
    border: 1px solid black;
    width: fit-content;
}